- name: Build and Sign APK
        run: |
          # Increase Java Memory to prevent "Broken Pipe" during image packaging
          export GRADLE_OPTS="-Xmx4096m -XX:MaxPermSize=1024m"
          yes | buildozer -v android release
        env:
          BUILDOZER_ALLOW_KIVY_ITERATION: 1
          BUILDOZER_WARN_ON_ROOT: 0
          P4A_RELEASE_KEYSTORE: my-release.keystore
          P4A_RELEASE_KEYSTORE_PASSWD: ${{ secrets.P12_PASSWORD }}
          P4A_RELEASE_KEYALIAS_PASSWD: ${{ secrets.P12_PASSWORD }}
          P4A_RELEASE_KEYALIAS: ${{ secrets.P12_ALIAS }}
