name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git python3-dev libsdl2-dev libsdl2-image-dev \
            libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev \
            libavformat-dev libavcodec-dev zlib1g-dev libsqlite3-dev ncurses-bin \
            cpufrequtils libncurses5-dev libncursesw5-dev libffi-dev libssl-dev \
            cmake ant autoconf automake libltdl-dev libgmp-dev libmpc-dev \
            libmpfr-dev pkg-config libtool openjdk-17-jdk-headless unzip zip

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Buildozer & Cython
        run: |
          pip install --upgrade pip
          pip install "cython<3.0.0" buildozer 

      - name: Build with Buildozer
        run: |
          yes | buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Tesco-Piping-App
          path: bin/*.apk
